@font-face {
  font-family: "Conv_WorkSans-Light";
  src: url("../fonts/WorkSans-Light.eot");
  src: local("☺"), url("../fonts/WorkSans-Light.woff") format("woff"),
    url("../fonts/WorkSans-Light.ttf") format("truetype"),
    url("../fonts/WorkSans-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Conv_WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.eot");
  src: local("☺"), url("../fonts/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans-Regular.ttf") format("truetype"),
    url("../fonts/WorkSans-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Conv_WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.eot");
  src: local("☺"), url("../fonts/WorkSans-Medium.woff") format("woff"),
    url("../fonts/WorkSans-Medium.ttf") format("truetype"),
    url("../fonts/WorkSans-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Conv_WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.eot");
  src: local("☺"), url("../fonts/WorkSans-Bold.woff") format("woff"),
    url("../fonts/WorkSans-Bold.ttf") format("truetype"),
    url("../fonts/WorkSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

:root {
  --bold: "Conv_WorkSans-Bold";
  --medium: "Conv_WorkSans-Medium";
  --regular: "Conv_WorkSans-Regular";
  --light: "Conv_WorkSans-Light";
}
