.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: var(--white);
  box-shadow: var(--gray-bs);
}

.footer__text {
  font-size: var(--font-size);
  padding: 0 30px;
  text-transform: capitalize;
}
