body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: var(--regular);
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 60px 0;
  opacity: 0;
  transition: opacity 2s ease;
  background: rgba(255, 255, 255, 0.7);
}

.form__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__title__container {
  overflow: hidden;
  margin: 40px 0 30px;
}

.form__title {
  font-size: 60px;
  letter-spacing: 1.5px;
  text-align: center;
}

.form__text__container {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.form__text {
  font-size: 25px;
  line-height: 40px;
  opacity: 0;
  text-align: center;
}

.form__input__container {
  overflow: hidden;
  width: 100%;
}

.form__input {
  width: 100%;
  height: 50px;
  opacity: 0;
  padding: 0 10px;
  font-size: 22px;
}

.form__input__label__container {
  overflow: hidden;
  margin: 14px 0;
  text-align: left;
  width: 100%;
}

.form__input__label {
  opacity: 0;
  text-transform: capitalize;
  font-size: 22px;
}

.form__button__container {
  margin: 40px 0 30px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.submit {
  background: var(--white);
  font-family: var(--regular);
  opacity: 0;
  cursor: pointer;
  font-size: 23px;
  width: 100%;
}

.submit:hover {
  box-shadow: inset 0 0 0 1px var(--black);
}

.form__submit__status {
  display: none;
  position: relative;
  top: -15px;
}

.check__password {
  position: relative;
  margin: 10px 0 -25px;
}

.valid {
  border-bottom: 1px solid green;
}

.invalid {
  border-bottom: 1px solid red;
}

select {
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 20px;
  font-family: var(--regular);
  opacity: 0;
}

input,
textarea {
  border: none;
  font-family: var(--regular);
  opacity: 0;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .form__title {
    font-size: 50px;
    white-space: nowrap;
  }
  .form__text {
    font-size: 22px;
    line-height: 36px;
  }
  .form__input__label {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .form__title {
    font-size: 42px;
    white-space: nowrap;
  }
  .form__text {
    font-size: 18px;
    line-height: 32px;
  }
  .form__input__label {
    font-size: 18px;
  }
}
