body {
  height: 100%;
  width: 100%;
  background: var(--white);
  font-family: var(--regular);
  overflow-x: hidden;
}

.main {
  background: var(--lightgray);
}

.main__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #fff;
  color: var(--black);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 5;
  overflow: hidden;
}

.main__arrow {
  position: relative;
  top: 110vh;
  -webkit-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s;
  width: 7vw;
  height: 7vw;
}

.slider {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 4;
}

.slider__nav {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
  gap: 20px;
}

input[type="radio"] {
  display: none;
}

.slider__nav__button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid var(--white);
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.slider__container {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__item {
  width: 25%;
  height: 100%;
}

.slider__image {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* width: 130%;
  height: 130%;
  transition: 2s cubic-bezier(0.09, 1, 0.63, 1); */
}

.first {
  -webkit-transition: margin 0.8s;
  -o-transition: margin 0.8s;
  transition: margin 0.8s;
}

#button1:checked ~ .first {
  margin-left: 0%;
}

#button2:checked ~ .first {
  margin-left: -50%;
}

#button3:checked ~ .first {
  margin-left: -100%;
}

#button4:checked ~ .first {
  margin-left: -150%;
}

.main__title__container {
  position: relative;
  top: 30px;
  overflow: hidden;
}

.main__title__first {
  font-size: 7vw;
  color: var(--black);
  opacity: 0;
}

.main__title__second {
  font-size: 6vw;
  color: var(--black);
  opacity: 0;
}

.main__title__third {
  font-size: 5vw;
  color: var(--black);
  opacity: 0;
}

.product__main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0;
}

.top__brands {
  font-size: 4vw;
  font-family: var(--light);
  letter-spacing: 4px;
  opacity: 0;
}

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.product__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30vw;
  padding: 30px 40px 10px;
  background: var(--white);
  opacity: 0;
  -webkit-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);
  transition: var(--btn-transition);
  -webkit-box-shadow: var(--gray-bs);
  box-shadow: var(--gray-bs);
  border-radius: 3px;
}

.product__column:hover {
  -webkit-box-shadow: var(--gray-bs), var(--box-shadow);
  box-shadow: var(--gray-bs), var(--box-shadow);
}

.product__image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__image {
  width: 100%;
}

.product {
  font-size: 1.5vw;
  position: relative;
  z-index: 3;
  top: 5px;
  margin: 10px 0 0 0;
}

.product__price {
  font-size: 23px;
  letter-spacing: 1px;
  -webkit-transform: translatey(-20px);
  -ms-transform: translatey(-20px);
  transform: translatey(-20px);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  -o-transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
}

.product:hover ~ .product__price {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  opacity: 1;
}

.product:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  white-space: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 350px;
  font-size: 23px;
  margin: 40px 0;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
  background: url(../images/bg/help.webp) no-repeat center center / cover;
}

.help__header {
  font-size: 3vw;
  padding: 0 0 40px 0;
  color: var(--white);
  font-family: var(--regular);
}

.helplink {
  padding: 15px 60px;
  margin: 0 0 20px 0;
}

.help__inner {
  padding: 15px 20px 35px;
}

.arrow {
  top: 60px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation: arrow 2s infinite;
  animation: arrow 2s infinite;
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 1475px) {
  .product__column {
    width: 40vw;
  }
  /* .main__title__first {
    font-size: calc((var(--title-font-size) - 20) * 1px);
  }
  .main__title__second {
    font-size: calc((var(--title-font-size) - 30) * 1px);
  }
  .main__title__third {
    font-size: calc((var(--title-font-size) - 40) * 1px);
  }
  .main__arrow {
    width: calc((var(--arrow-size) - 10) * 1px);
    height: calc((var(--arrow-size) - 10) * 1px);
  } */
}

@media (max-width: 965px) {
  .footer__text:last-child,
  .footer__text:nth-child(2) {
    display: none;
  }
  .help__header {
    font-size: 4.5vw;
  }
}

@media (max-width: 800px) {
  .top__brands {
    font-size: 6vw;
  }
  .product {
    font-size: 4vw;
  }
  .product__column {
    width: 70vw;
  }
}
