body {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--lightgray);
  font-family: var(--regular);
}

.main {
  position: relative;
  z-index: 1;
  background: var(--lightgray);
}

.main__intro__inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  color: var(--black);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 5;
}

.main__intro__slider {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--lightgray);
  color: var(--black);
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 4;
}

.main__intro__slider__item {
  transition: 0.1s;
  object-fit: cover;
}

.main__title__container {
  overflow: hidden;
}

.main__title__first {
  font-size: 120px;
  color: var(--white);
  text-shadow: var(--textshadow);
  transition: color 3s;
  opacity: 0;
}

.main__title__second {
  font-size: 100px;
  color: var(--white);
  text-shadow: var(--textshadow);
  transition: color 3s;
  opacity: 0;
  margin: 10px 0 20px;
}

.main__title__third {
  text-shadow: var(--textshadow);
  font-size: 80px;
  opacity: 0;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.slider {
  position: relative;
  height: 700px;
  width: 1300px;
  color: var(--black);
}

.slider::before,
.slider::after {
  width: 100px;
  height: 100px;
  background: transparent;
  position: absolute;
  content: "";
  /* opacity: 0; */
  transition: opacity 0.3s;
}

.slides {
  height: 100%;
  width: 100%;
}

.slide__elem {
  height: 100%;
  width: 100%;
}

.slide__over {
  font-size: 44px;
  position: absolute;
  font-weight: 200;
  left: 50%;
  top: 20px;
  color: var(--white);
  transform: translatex(-50%);
}

.slide__img {
  height: 100%;
  width: 100%;
}
.slider__nav {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__nav__btn {
  position: relative;
  height: 15px;
  width: 15px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin: 0 15px;
  z-index: 100;
  cursor: pointer;
}

.sliders {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  border-left: var(--border-black);
  border-bottom: var(--border-black);
  transition: 0.3s ease-in;
  background: transparent;
  cursor: pointer;
}

.sliders::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 10px;
  top: 28px;
  /* opacity: 0; */
  border-left: var(--border-black);
  border-bottom: var(--border-black);
  background: transparent;
  cursor: pointer;
  transition: opacity 0.3s;
}

.slidernext {
  right: -160px;
  transform: translateY(-50%) rotate(-135deg);
}

.sliderprev {
  left: -160px;
  transform: translateY(-50%) rotate(45deg);
}

.slidernext:hover::before,
.sliderprev:hover:before {
  opacity: 1;
}

.product__list {
  position: relative;
}

.product__main__text {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.top__brands {
  font-size: 65px;
  font-family: var(--light);
  letter-spacing: 4px;
  opacity: 0;
  text-shadow: var(--textshadow);
}

.product__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 30px 40px 10px;
  background: var(--white);
  opacity: 0;
  transition: var(--btn-transition);
}

.product__column:hover {
  box-shadow: 0px 0px 0px 2px var(--black);
}

.product__image__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__image {
  width: 100%;
}

.product {
  font-size: 25px;
  position: relative;
  z-index: 3;
  top: 5px;
  margin: 10px 0 0 0;
}

.product__price {
  font-size: 23px;
  letter-spacing: 1px;
  transform: translatey(-20px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.3s;
  pointer-events: none;
}

.product:hover ~ .product__price {
  transform: translateY(2px);
  opacity: 1;
}

.product:hover {
  transform: translateY(-10px);
}

.help {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 350px;
  font-size: 23px;
  margin: 40px 0;
  filter: grayscale(30%);
  background: url(../images/bg/help.png) no-repeat center center / cover;
}

.help__header {
  font-size: 60px;
  padding: 0 0 40px 0;
  color: var(--white);
  font-family: var(--regular);
}

.helplink {
  font-size: 24px;
  padding: 15px 60px;
  margin: 0 0 20px 0;
}

.help__inner {
  padding: 15px 20px 35px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: var(--white);
}

.footer__text {
  font-size: 25px;
  padding: 0 30px;
  text-transform: capitalize;
}

@media (max-width: 1817px) {
  .slidernext {
    right: -130px;
  }
  .sliderprev {
    left: -130px;
  }
  .product__row {
    margin: 0 auto;
  }
  .main__text__first {
    font-size: 85px;
  }
  .main__text__second {
    font-size: 65px;
    margin: 0 0 20px 0;
  }
  .main__text__third {
    font-size: 35px;
    position: relative;
  }
  .slider__nav {
    transform: translatex(-50%) scale(92%);
  }
  .slider {
    width: 1150px;
    height: 600px;
  }
}

@media (max-width: 1475px) {
  .product__column {
    width: 450px;
  }
  .main__title__first {
    font-size: 80px;
  }
  .main__title__second {
    font-size: 65px;
  }
  .main__title__third {
    font-size: 55px;
  }
  .sidebar {
    font-size: 15px;
  }
  .product__list::before {
    height: 120px;
    top: -120px;
  }
  .sliderprev {
    left: -100px;
  }
  .slidernext {
    right: -100px;
  }
  .slider__nav {
    transform: translatex(-50%) scale(80%);
  }
  .main__text__first {
    font-size: 70px;
  }
  .main__text__second {
    font-size: 50px;
    margin: 0 0 20px 0;
  }
  .main__text__third {
    font-size: 30px;
  }
}

@media (max-width: 1350px) {
  .slider {
    width: 800px;
    height: 430px;
  }
  .slider__nav {
    transform: translatex(-50%) scale(65%);
  }
}

@media (max-width: 1250px) {
  .product__row {
    flex-direction: column;
    align-items: center;
  }
  .top__brands {
    font-size: 50px;
    padding: 30px 0;
  }
}

@media (max-width: 1140px) {
  .main__text__first {
    font-size: 55px;
  }
  .main__text__second {
    font-size: 38px;
    margin: 0 0 20px 0;
  }
  .main__text__third {
    font-size: 27px;
    margin: -2px 0 0 0;
  }
  .help__header {
    font-size: 37px;
  }
  .main__banner {
    right: 400px;
  }
}

@media (max-width: 1050px) {
  .slideprev {
    left: -60px;
  }
  .slidenext {
    right: -60px;
  }
}

@media (max-width: 1020px) {
  .slider__nav {
    transform: translatex(-50%) scale(50%);
  }
  .slider {
    width: 600px;
    height: 330px;
  }
}

@media (max-width: 965px) {
  .help__header {
    font-size: 32px;
    white-space: normal;
  }
  .footer__text:last-child,
  .footer__text:nth-child(2) {
    display: none;
  }
  .main__banner {
    right: 600px;
  }
}

@media (max-width: 850px) {
  .slider__nav {
    bottom: 10px;
  }
  .slider__nav__btn {
    padding: 5px;
  }
  .sliderprev {
    left: -50px;
  }
  .slidernext {
    right: -50px;
  }
  .slider {
    width: 500px;
    height: 280px;
  }
  .sliders {
    height: 30px;
    width: 30px;
  }
  .sliders::before {
    height: 10px;
    width: 10px;
    top: 12px;
    left: 7px;
  }
  .slider::before {
    width: 30px;
    height: 30px;
    left: -8px;
    top: -8px;
  }
  .slider::after {
    width: 30px;
    height: 30px;
    right: -8px;
    bottom: -8px;
  }
  .main__text__first {
    font-size: 42px;
  }
  .main__text__second {
    font-size: 28px;
    margin: 0 0 20px 0;
  }
  .main__text__third {
    font-size: 23px;
    margin: -7px 0 0 0;
  }
}

@media (max-width: 650px) {
  .product__column {
    width: 450px;
  }
  .top__brands {
    font-size: 45px;
    padding: 10px 0;
  }
  .sliderprev {
    left: -30px;
  }
  .slidernext {
    right: -30px;
  }
  .slider {
    width: 400px;
    height: 230px;
  }
}
