body {
  background: url(../images/bg/account_background.webp) no-repeat center -15vh / cover;
  background-attachment: fixed;
}

.register__form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--lightgray);
}

.register__header {
  margin: 40px 0;
  font-size: 50px;
  letter-spacing: 1.5px;
  text-align: center;
}

.reg__text {
  text-transform: capitalize;
  margin: 14px 0;
  font-size: 23px;
  text-align: left;
  opacity: 0;
}

.password__line {
  position: relative;
}

.fb__placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 30px;
  overflow: hidden;
}

.fb-login-button {
  text-align: center;
  opacity: 0;
}

.check__password__line {
  position: relative;
  overflow: hidden;
}

.eye {
  cursor: pointer;
  position: relative;
  z-index: 3;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.eyeouter:hover {
  -webkit-box-shadow: 0 0 0 1px var(--black);
  box-shadow: 0 0 0 1px var(--black);
}

.eyeouter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 9px;
  opacity: 0;
  right: 10px;
  border: var(--border-black);
}

.eyeouter::before {
  position: absolute;
  content: "";
  width: var(--btn4);
  height: var(--btn12);
  top: 6px;
  left: -2px;
  -webkit-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);
  transition: var(--btn-transition);
  background: var(--white);
}

.eyeouter::after {
  position: absolute;
  content: "";
  height: var(--btn4);
  width: var(--btn12);
  left: 6px;
  top: -2px;
  -webkit-transition: var(--btn-transition);
  -o-transition: var(--btn-transition);
  transition: var(--btn-transition);
  background: var(--white);
}

.eyeouter:hover::before {
  -webkit-transform: scaley(0);
  -ms-transform: scaley(0);
  transform: scaley(0);
}

.eyeouter:hover::after {
  -webkit-transform: scalex(0);
  -ms-transform: scalex(0);
  transform: scalex(0);
}

.check__password {
  display: none;
}
